body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* NAVIGATION BAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background: transparent;
    color: white;
    z-index: 1000;

    transition: 0.3s ease;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.navbar.active {
    background: rgba(62, 44, 35, 0.9);
    backdrop-filter: blur(6px);
    padding: 15px 40px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logomrpd-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.logo-text {
    font-weight: bold;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/*HERO*/
.hero {
    position: relative;
    height: 100vh;
    background: url("../images/hero.jpeg") center center / cover no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.sub {
    font-size: 18px;
    margin-bottom: 20px;
}

.jadwal-hero {
    font-size: 16px;
}

/*JADWAL*/
#jadwal {
    text-align: center;
    background: #fafafa;
    padding: 80px 0;
}

#jadwal h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.jadwal-container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
    max-width: 900px;
    margin: auto;
}

.jadwal-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    padding-left: 15px;
    align-items: center;
    border-bottom: 1px solid #eee;
    border-left: 4px solid #c46b2d;
}

.jadwal-item:hover {
    transform: translateX(5px);
    transition: 0.3s;
}

.hari {
    font-size: 18px;
    font-weight: 500;
}

.jam {
    display: flex;
    gap: 10px;
}

.badge {
    background: #f5e6b3;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 14px;
}

.hari-box {
    text-align: left;
    min-width: 250px;
}

.keterangan {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.divider {
    height: 1px;
    background: #ddd;
    margin: 10px 0;
}

/*SEJARAH*/
#sejarah {
    padding: 80px 20px;
    max-width: 800px;
    margin: auto;
}

#sejarah h2 {
    text-align: center;
    margin-bottom: 40px;
}

.sejarah-container {
    border-left: 3px solid #c75b12;
    padding-left: 20px;
    max-width: 800px;
    margin: auto;
}

.sejarah-item {
    margin-bottom: 30px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(30px);
    transition: 0.6s ease;
    position: relative;
}

.sejarah-item h3 {
    color: #c46b2d;
}

.sejarah-item::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 5px;
    width: 12px;
    height: 12px;
    background: #c75b12;
    border-radius: 50%;
}

.sejarah-item.show {
    opacity: 1;
    transform: translateY(0);
}

.sejarah-item:nth-child(1) {transition-delay: 0.1s;}
.sejarah-item:nth-child(2) {transition-delay: 0.2s;}
.sejarah-item:nth-child(3) {transition-delay: 0.3s;}
.sejarah-item:nth-child(4) {transition-delay: 0.4s;}

/*PENGURUS*/
section {
    padding: 60px 20px;
}

h2 {
    margin-bottom: 10px;
}

#pengurus {
    text-align: center;
    background: #f8f8f8;
}

#pengurus h2 {
    font-size: 32px;
}

.pengurus-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: nowrap;
}

.pengurus-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pengurus-foto {
    width: 140px;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
}

.pengurus-box {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
    position: relative;
}

.pengurus-box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15%;
    height: 70%;
    width: 4px;
    background: #c46b2d;;
}

.pengurus-box h3 {
    margin: 0;
    font-size: 16px;
}

.pengurus-box p {
    margin: 5px;
    font-size: 14px;
    color: #777;
}

/*GALERI*/
.galeri {
    text-align: center;
}

#galeri {
    padding: 80px 20px;
    text-align: center;
}

#galeri h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.galeri-wrapper {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.galeri-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    justify-content: flex-start;
}

.galeri-container::-webkit-scrollbar {
    display: none;
}

.galeri-container img {
    min-width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.prev:hover, next:hover {
    background: #c75b12;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.galeri-container img::hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/*LOKASI*/
.lokasi-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    text-align: left;
}

.lokasi-text {
    width: 40%;
    margin-top: 20px;
    padding-left: 20px;
}

.lokasi-text h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.lokasi-teks p {
    line-height: 1.6;
    color: #555;
}

.lokasi-map {
    width: 60%;
}

.lokasi-map iframe {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 12px;
}

#lokasi {
    padding: 80px 0;
    background: #fafafa;
}

#lokasi h2 {
    text-align: center;
}

.lokasi h2 {
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center;
}

/*FORM*/
input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: orange;
    color: white;
    border: none;
    padding: 10px;
}

/*KONTAK*/
#kontak {
    padding: 80px 60px;
    padding-bottom: 50px;
    padding-top: 30px;
    text-align: left;
}

#kontak h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.kontak-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    margin: auto;
    max-width: 1000px;
    font-size: 16px;
}

.kontak-info {
    width: 35%;
}

.kontak-form {
    width: 100%;
    max-width: 500px;
}

.kontak-form input,
.kontak-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.kontak-form textarea {
    height: 150px;
}

.btn-wa {
    display: inline-block;
    background: #c75b12;
    color: white;
    text-align: left;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    border-radius: 6px;
}

.btn-wa:hover {
    background: #a94a0f;
}

/*INFORMASI*/
#informasi {
    padding: 80px 20px;
    background: #f8f8f8;
}

#informasi h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.info-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    border-top: 4px solid #c75b12;
    transition: 0.3s;
}

.info-box:hover {
    transform: translateY(-5px);
}

.info-box h3 {
    margin-bottom: 15px;
}

.info-box ul {
    padding-left: 18px;
}

.info-box li {
    margin-bottom: 8px;
}